In [1]:
#python to MYsql connect

Done

In [2]:
#pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql as py
print('Done')

Done

In [3]:
conn = py.connect(user = 'root' ,
           password = '_@roshni_98',
           host = 'localhost',
           autocommit = True)
print('Connection Created Successfully!!')

Connection Created Successfully!!

In [ ]:
#cursor

In [4]:
cur=conn.cursor()
print('Done')

Done

In [ ]:
#create database using python

In [5]:
query = '''create database IITM_day5;'''
cur.execute(query)
print('Done')

Done

In [6]:
query = 'USE IITM_day5;'
cur.execute(query)
print('Done')

Done

In [7]:
query = '''create table student_details
(
SID int not null,
student_name varchar(50),
course varchar(50),
Address varchar(50),
Scholarship float
);'''
cur.execute(query)
print('Done')

Done

In [8]:
query = '''insert into student_details
values
(101,"Mohan Sharma","BCA","Delhi Janakpuri",5000),
(105,"Ravi Varma","MCA","South Delhi",5500);
'''
cur.execute(query)
print('Done')

Done

In [18]:
n=3
for i in range(n):
    sid = int(input('Enter Roll No/SID:'))
    name=input('Enter your Name:')
    course=input('Enter your Course:')
    address =input('Enter your Address:')
    Scholarship=float(input('Enter your Scholarship in RS:'))
    
    q = f'''insert into student_details values
    ({sid},"{name}","{course}","{address}",{Scholarship});'''
    cur.execute(q)
    print('Record Inserted Sucessfully!!')
print('Done')

Enter Roll No/SID: 89
Enter your Name: Anjali
Enter your Course: BCA
Enter your Address: Delhi
Enter your Scholarship in RS: 5000

Record Inserted Sucessfully!!

Enter Roll No/SID: 12
Enter your Name: Navya
Enter your Course: BCA
Enter your Address: Dwarka
Enter your Scholarship in RS: 3000

Record Inserted Sucessfully!!

Enter Roll No/SID: Gyan

ValueError: invalid literal for int() with base 10: 'Gyan'

In [31]:
query = '''select * from student_details;'''
cur.execute(query)
records= cur.fetchall()
all_columns = []
for i in cur.description:
    all_columns.append(i[0])
import pandas as pd
pd.DataFrame(records,columns=all_columns)

   SID  student_name course          Address  Scholarship
0  101  Mohan Sharma    BCA  Delhi Janakpuri       5000.0
1  105    Ravi Varma    MCA      South Delhi       5500.0
2   23        Roshni    BCA           Rohini       5000.0
3   56        Prachi    BCA         Sagarpur       6000.0
4   89        Anjali    BCA            Delhi       5000.0
5   12         Navya    BCA           Dwarka       3000.0

In [27]:
def show_records(db,table):
    query = f'''select * from {db}.{table};'''
    cur.execute(query)
    records= cur.fetchall()
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
    import pandas as pd
    df=pd.DataFrame(records,columns=all_columns)
    return df

In [28]:
show_records('iitm_day5','student_details')

   SID  student_name course          Address  Scholarship
0  101  Mohan Sharma    BCA  Delhi Janakpuri       5000.0
1  105    Ravi Varma    MCA      South Delhi       5500.0
2   23        Roshni    BCA           Rohini       5000.0
3   56        Prachi    BCA         Sagarpur       6000.0
4   89        Anjali    BCA            Delhi       5000.0
5   12         Navya    BCA           Dwarka       3000.0

In [29]:
show_records('iitm_db','sample_superstore')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9690,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9691,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9692,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x...",29.6000,4,0.00,13.3200
9693,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480