In [1]:
def check_palindrome(word):
    return word

In [2]:
check_palindrome('Ajay')

'Ajay'

In [3]:
a='lucky'
a[::-1]

'ykcul'

In [5]:
a='nitin'
if a==a[::-1]:
    print(f'{a} is a palindrome')
else:
    print(f'{a} is not a palindrome')

nitin is a palindrome

In [7]:
def check_palindrome(word):
    word=word.upper()
    if word==word[::-1]:
        return 'Palindrome'
    else:
        return 'Not a Palindrome'

In [8]:
check_palindrome('Nitin')

'Palindrome'

In [125]:
def check_palindrome(word:str):
    if type(word) == str:
        word=word.upper()
        if word==word[::-1]:
            return 'Palindrome'
        else:
            return 'Not a Palindrome'
    else:
        return 'Invalid Data type'

In [126]:
check_palindrome('harry')

'Not a Palindrome'

In [19]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num=fibo[-2]
        next_num = last_num+second_last_num
        fibo.append(next_num)
    return fibo

In [20]:
print(give_fibo(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [23]:
def check_prime(number):
    for i in range(2,number):
        if number % i==0:
            return 'Not a Prime Number'
            break
    else:
        return 'Prime Number'

In [24]:
check_prime(22)

'Not a Prime Number'

In [26]:
n=5
for i in range(1,n+1):
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [29]:
n=5

for i in range(1,n+1):
    print(' '*(n-i) +i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [30]:
def print_star(n =5 , typ='left'):
    for i in range(1,n+1):
        print(' '*(n-i) + i*'* ')

In [31]:
print_star(3)

  *
 * *
* * *

In [46]:
def print_star(n=5, typ='left'):
    if typ =='left':
        space =''
    elif typ == 'right':
        space ='  '
    elif typ == 'mid':
        space = ' '

    for i in range(1,n+1):
        print(space*(n-i) +i*'* ')

In [95]:
print_star(4)

*
**
***
****

In [92]:
def print_star(n=5, typ='left',shape='*'):
    if typ =='left':
        space =''
    elif typ == 'right':
        space =' '
    elif typ == 'mid':
        space = '  '

    for i in range(1,n+1):
        print(space*(n-i) +i*f'{shape}')

In [94]:
print_star(4,'mid',' iitm')

       iitm
     iitm iitm
   iitm iitm iitm
 iitm iitm iitm iitm

In [63]:
def sum_of_n_natural_number(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [64]:
sum_of_n_natural_number(10)

55

In [65]:
def factorial(n):
    result = 1
    for i in range (1,n+1):
        result *= i
    return result

In [69]:
factorial(10)

3628800

In [78]:
def total_sales(*args):
    #unpacking
    result = 0
    for i in args:
        result +=i
    return result

In [79]:
total_sales(1,2,4,56,90)

153

In [86]:
sales=[46,84,12,92,53]

In [89]:
min_element = sales[0]
for i in sales[1:]:
    if i < min_element:
        min_element = i
print(min_element)

12

In [99]:
def minn(*data):
    min_ele = data[0]
    for i in data[1:]:
        if i < min_ele:
            min_ele = i
    return (min_ele)

In [101]:
minn(37,78,38,73,92,1,82)

1

In [104]:
def maxx(*data):
    max_ele = data[0]
    for i in data[1:]:
        if i > max_ele:
            max_ele = i
    return (max_ele)

In [105]:
maxx(37,29,28,92,37,73,83)

92

In [107]:
company=['ola','uber','rapido','Indrive','adani','tata']
def add_hashtag(*company):
    result = []
    for i in company:
        result.append('#'+ i.upper())
    return result

In [109]:
add_hashtag('ola','tata')

['#OLA', '#TATA']

In [110]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [116]:
def store_records(name,age,sec,roll_no,Class):
    data = {'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    result = pd.DataFrame(data,index = [1])
    return result

In [117]:
display(store_records('Karan',20,'A',12,12))
display(store_records('Karan',20,'A',12,12))
display(store_records('Karan',20,'A',12,12))

    Name  Age Sec  Roll_no  Class
1  Karan   20   A       12     12

    Name  Age Sec  Roll_no  Class
1  Karan   20   A       12     12

    Name  Age Sec  Roll_no  Class
1  Karan   20   A       12     12

In [122]:
def students_records(**kwargs):
   import pandas as pd
try:
    result=pd.DataFrame(kwargs)
    return result
except:
    result=pd.DataFrame(kwargs,index

In [124]:
students_records(name= 'riya', age=23, sec= 'A', roll_no=14, address='Palam')

   name  age sec  roll_no address
1  riya   23   A       14   Palam

In [127]:
 def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

SyntaxError: invalid non-printable character U+00A0 (1201476940.py, line 11)