In [1]:
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

# Int,float, Complex = Numerical

In [4]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [10]:
poem ='''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [11]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [14]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [15]:
# list
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [16]:
a[2] = 4000
print(a)

[2, 3434, 4000, 5467]

In [17]:
a[3] = 900
print(a)

[2, 3434, 4000, 900]

In [18]:
print(a[3])

900

In [21]:
a=list(a)
a = tuple(a)
print(a)

(2, 3434, 4000, 900)

In [22]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]
print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [23]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [28]:
# dict:- key value pair datatype, # hash
a = {'Name':'Aman','Age':23,'Address':'Delhi'}
print( a,type(a))

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>

In [29]:
a['Address'] = 'Noida/Gr Noida'
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [30]:
a['Name'] = 'Aman Kumar'

In [31]:
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [32]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}
print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [36]:
import pandas as pd
table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [37]:
a = True
print(a,type(a))

True <class 'bool'>

In [ ]:
# salary = 56789
# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [40]:
salary = int(input('enter salary'))
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

enter salary 600000

Manager

In [46]:
import random
random.randint(10000,60000,89)

TypeError: Random.randint() takes 3 positional arguments but 4 were given

In [55]:
import random
random.randint(10000,60000)

35689

In [64]:
import numpy as np
database_salary = np.random.randint(1000,50000,5)
print(salary)

198768

In [75]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

29519 Executive
35835 Jr Manager
12641 Intern
13534 Intern
31810 Jr Manager

In [78]:
import time
for i in range(5):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Sun Jul 20 17:38:10 2025

In [73]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

Enter your Choice(1-10):  4

User choice: 4
Computer Choice: 8
Better Luck next time!!

In [79]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  7

  User choice: 7
  Computer Choice: 9
Better Luck next time!!

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 3
Better Luck next time!!

Enter your Choice(1-10):  8

  User choice: 8
  Computer Choice: 7
Better Luck next time!!

In [80]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth

Enter your choice:  a

Better luck next time!!
Total Amount 0

In [81]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [82]:
say_hello('Roshni')

Hello Roshni, how are you??

In [83]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')

In [84]:
vote(45)

can Vote!!

In [85]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [90]:
sound_box(5677675645398798786876786675675646545423400)